@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

body {
  background: #e9e6e4;
  height: 100%;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  left: 5%;
}

@media all and (max-width: 414px) {
  header {
    width: 85%;
  }
}

header a {
  text-decoration: none;
}

header .logo {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #121418;
  font-weight: bold;
}

header .aboutall > a {
  position: relative;
  top: 10px;
  margin-left: 30px;
  letter-spacing: -0.3px;
  color: #121418;
  font-weight: 500;
}

@media all and (max-width: 414px) {
  header .aboutall > a {
    display: block;
    text-align: center;
    padding-bottom: 5px;
  }
}

header .about {
  color: #121418;
}

header .about:hover {
  text-decoration: underline;
}

header .resume {
  border-radius: 50%/50%;
  border: 2px solid #121418;
  color: #FBFFFE;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .resume:hover {
  background-color: #E73D19;
}

header .about {
  text-decoration: underline;
}

.sectionthree {
  background-color: #121418;
}

.sectionthree .content {
  width: 90%;
  padding-top: 30px;
}

.sectionthree .content .open {
  position: absolute;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  padding: 30px 120px;
}

@media all and (max-width: 768px) {
  .sectionthree .content .open {
    padding: 50px;
    width: 180px;
    height: 180px;
  }
}

@media all and (max-width: 414px) {
  .sectionthree .content .open {
    display: none;
  }
}

.sectionthree .content .description {
  padding: 20px;
  position: relative;
  left: 40%;
  width: 55%;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media all and (max-width: 414px) {
  .sectionthree .content .description {
    width: 95%;
    left: 0%;
  }
}

.sectionthree .content .description h2 {
  color: #FBFFFE;
  font-family: "Space Grotesk", sans-serif;
}

.sectionthree .content .description a {
  color: #FBFFFE;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

.sectionthree .content .description a:hover {
  text-decoration: underline;
}

.sectionthree .content .description hr {
  border: 1px solid #FBFFFE;
}

.sectionthree .content .description h4 {
  color: #FBFFFE;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
}

.sectionthree .content .description img {
  width: 23px;
  padding: 15px 15px 2px 0px;
}

.sectionthree .content .description .foo {
  text-align: right;
  margin: 15px 0;
}

.sectionthree .content .description .foo p {
  font-family: "Inter", sans-serif;
}

.sectionthree .content .description .foo .fooo {
  padding-left: 15px;
  font-weight: 500;
  font-size: 24px;
}

.sectionthree .content .description .foo .fooo:hover {
  color: #E73D19;
}

.sectionthree .content .description p {
  font-weight: 300;
  color: #C8C8C8;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  66% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  66% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

@media all and (max-width: 414px) {
  main {
    width: 85%;
  }
}

main .aboutme {
  margin: 80px 0;
  text-align: center;
}

@media all and (max-width: 768px) {
  main .aboutme {
    margin: 0;
  }
}

main .aboutme img {
  width: 300px;
  vertical-align: top;
}

@media all and (max-width: 320px) {
  main .aboutme img {
    width: 280px;
  }
}

main .aboutme .content {
  width: 38%;
  display: inline-block;
  vertical-align: top;
  font-family: "Inter", sans-serif;
  padding: 0 50px;
}

@media all and (max-width: 1024px) {
  main .aboutme .content {
    width: 43%;
  }
}

@media all and (max-width: 768px) {
  main .aboutme .content {
    width: 85%;
    padding: 50px 0;
  }
}

@media all and (max-width: 414px) {
  main .aboutme .content {
    width: 90%;
    padding: 20px 0;
  }
}

main .aboutme .content .lang {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

main .aboutme .content .lang a {
  text-decoration: none;
  color: #121418;
}

main .aboutme .content .lang a.active {
  text-decoration: underline;
}

main .aboutme .content .ch {
  display: none;
}

main .aboutme .content .ch h4 {
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 26px;
  text-align: justify;
}

main .aboutme .content .en h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  letter-spacing: -0.1px;
}

main .aboutme .content h2 {
  margin: 0;
}

main .aboutme .content span {
  font-weight: 500;
}

main .tools h3 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

main .tools ul {
  text-align: center;
}

@media all and (max-width: 414px) {
  main .tools ul {
    padding: 0;
  }
}

main .tools ul i {
  padding: 20px 15px;
  color: #121418;
}

main .tools ul span {
  font-size: 28px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  position: relative;
  top: -6px;
  padding: 0 10px;
  letter-spacing: -1.5px;
}

main .quote {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

main .quote h2 {
  line-height: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}

@media all and (max-width: 414px) {
  main .quote h2 {
    font-size: 24px;
  }
}

main .quote hr {
  border: 2px solid #121418;
  width: 80%;
}

@media all and (max-width: 414px) {
  main .quote hr {
    width: 100%;
  }
}
/*# sourceMappingURL=about.css.map */