@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 45px;
}

.container {
  margin: 0 auto;
  padding-top: 15vh;
}

body {
  background: #e9e6e4;
  overflow: hidden;
  margin: 0 auto;
}

.sectionone {
  min-height: 100vh;
  position: relative;
}

.sectionone header {
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  left: 5%;
}

.sectionone header a {
  text-decoration: none;
}

.sectionone header .logo {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #121418;
  font-weight: bold;
}

.sectionone header .aboutall > a {
  position: relative;
  top: 10px;
  padding: 18px 45px;
  letter-spacing: -0.3px;
}

.sectionone header .about {
  color: #121418;
}

.sectionone header .resume {
  border-radius: 50%/50%;
  background-color: #121418;
  color: #FBFFFE;
}

.sectionone header .resume:hover {
  background-color: #E73D19;
}

.sectionone .intro {
  font-family: "Space Grotesk", sans-serif;
  width: 90%;
  position: relative;
  left: 5%;
  top: 15vh;
}

.sectionone .intro h1 {
  color: #121418;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin: 0;
}

.sectionone .intro h1 .detail {
  letter-spacing: 0px;
  font-weight: 300;
}

.sectionone .intro h1 .detail span {
  color: #E73D19;
}

.sectionone .intro .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sectionone .intro .btn a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  border: 1px solid #121418;
  cursor: pointer;
  width: 100px;
  margin: 30px 30px 0 0;
  padding: 0 10px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.sectionone .intro .btn .aboutbtn {
  background-color: #E73D19;
  color: #FBFFFE;
}

.sectionone .intro .btn .workbtn {
  background-color: #C8C8C8;
  color: #121418;
}

.sectionone .skillcontainer {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionone .skillcontainer h2 {
  margin: 0;
  padding: 0 50px;
  height: 65px;
  line-height: 65px;
  letter-spacing: 2px;
}

.sectionone .skillcontainer .skill {
  text-transform: uppercase;
  background-color: #121418;
  color: #FBFFFE;
  width: 100%;
  overflow: hidden;
}

.sectionone .skillcontainer .design {
  -webkit-text-stroke: 1px #172121;
  -webkit-text-fill-color: transparent;
}

.sectiontwo {
  margin: 0 auto;
}

.sectiontwo .work {
  border: 5px solid red;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */