@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

h1, .h1 {
  font-size: 60px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 32px;
}

body {
  background: #e9e6e4;
  height: 100%;
  margin: 0 auto;
}

.sectionone {
  position: relative;
  margin-bottom: 30px;
}

.sectionone header {
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  left: 5%;
}

@media all and (max-width: 414px) {
  .sectionone header {
    width: 85%;
  }
}

.sectionone header a {
  text-decoration: none;
}

.sectionone header .logo {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #121418;
  font-weight: bold;
}

.sectionone header .aboutall > a {
  position: relative;
  top: 10px;
  margin-left: 30px;
  letter-spacing: -0.3px;
  color: #121418;
  font-weight: 500;
}

@media all and (max-width: 414px) {
  .sectionone header .aboutall > a {
    display: block;
    text-align: center;
    padding-bottom: 5px;
  }
}

.sectionone header .about {
  color: #121418;
}

.sectionone header .about:hover {
  text-decoration: underline;
}

.sectionone header .resume {
  border-radius: 50%/50%;
  border: 2px solid #121418;
  color: #FBFFFE;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sectionone header .resume:hover {
  background-color: #E73D19;
}

.sectionone .intro {
  font-family: "Space Grotesk", sans-serif;
  width: 75%;
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media all and (max-width: 414px) {
  .sectionone .intro {
    width: 85%;
  }
}

.sectionone .intro h1 {
  color: #121418;
  font-weight: bold;
  margin: 0;
}

@media all and (max-width: 768px) {
  .sectionone .intro h1 {
    font-size: 32px;
  }
}

.sectionone .intro h1 .title {
  line-height: 1.2;
}

.sectionone .intro h1 .detail {
  margin-top: 30px;
  font-weight: 300;
}

@media all and (max-width: 768px) {
  .sectionone .intro h1 .detail {
    font-size: 24px;
  }
}

@media all and (max-width: 320px) {
  .sectionone .intro h1 .detail {
    font-size: 18px;
    line-height: 24px;
  }
}

.sectionone .intro h1 .detail span {
  color: #E73D19;
}

.sectionone .intro .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sectionone .intro .btn a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  border: 1px solid #121418;
  cursor: pointer;
  margin: 30px 30px 0 0;
  padding: 8px 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.sectionone .intro .btn .aboutbtn {
  background-color: #121418;
  color: #FBFFFE;
}

.sectionone .intro .btn .workbtn {
  background-color: #C8C8C8;
  color: #121418;
}

.sectionone .intro .photo > img {
  width: 300px;
  position: absolute;
  right: 30%;
  bottom: -30%;
  mix-blend-mode: color-burn;
}

.sectionone .skillcontainer {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 0;
  z-index: 999;
  font-family: "Space Grotesk", sans-serif;
}

.sectionone .skillcontainer h2 {
  margin: 0;
  padding: 0 40px;
  height: 65px;
  line-height: 65px;
  letter-spacing: 2px;
}

@media all and (max-width: 768px) {
  .sectionone .skillcontainer h2 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
  }
}

.sectionone .skillcontainer .skill {
  text-transform: uppercase;
  background-color: #121418;
  color: #FBFFFE;
  overflow: hidden;
}

.sectionone .skillcontainer .design {
  -webkit-text-stroke: 1px #172121;
  -webkit-text-fill-color: transparent;
}

.sectiontwo {
  margin: 0 auto;
  display: block;
}

.sectiontwo h2 {
  width: 100%;
  color: #121418;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 20px 0;
}

.sectiontwo .list {
  text-align: center;
}

.sectiontwo .list > a {
  text-decoration: none;
  color: #121418;
  padding: 0 10px;
}

.sectiontwo .worklist {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

@media all and (max-width: 414px) {
  .sectiontwo .worklist {
    width: 100%;
  }
}

.sectiontwo .worklist .work {
  display: inline-block;
  margin: 5px 20px 20px;
  overflow: hidden;
  letter-spacing: 1px;
}

.sectiontwo .worklist .work h4 {
  font-weight: 400;
  margin: 10px;
  font-family: "Inter", sans-serif;
}

.sectiontwo .worklist .work a.link {
  display: block;
  height: 100%;
}

.sectiontwo .worklist .work .content-details {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sectiontwo .worklist .work .content-details .details {
  position: relative;
  font-family: "Inter", sans-serif;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sectiontwo .worklist .work .content-details .details h3,
.sectiontwo .worklist .work .content-details .details h4 {
  color: #FBFFFE;
  font-weight: 300;
  padding: 0 50px;
  margin: 0;
}

.sectiontwo .worklist .work .content-details span {
  color: #C8C8C8;
  border: 1px solid #C8C8C8;
  border-radius: 2px;
  font-size: 14px;
  padding: 2px 10px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5px;
  margin: 3px;
  line-height: 30px;
}

.sectiontwo .worklist .work .content-details:hover {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.sectiontwo .worklist .work .workcontent1 {
  background: url(../img/kissa.png) no-repeat;
  border: none;
  width: 450px;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 414px) {
  .sectiontwo .worklist .work .workcontent1 {
    width: 315px;
    height: 210px;
  }
}

@media all and (max-width: 320px) {
  .sectiontwo .worklist .work .workcontent1 {
    width: 270px;
    height: 180px;
  }
}

.sectiontwo .worklist .work .workcontent2 {
  background: url(../img/spaced.png) no-repeat;
  border: none;
  width: 450px;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 414px) {
  .sectiontwo .worklist .work .workcontent2 {
    width: 315px;
    height: 210px;
  }
}

@media all and (max-width: 320px) {
  .sectiontwo .worklist .work .workcontent2 {
    width: 270px;
    height: 180px;
  }
}

.sectiontwo .worklist .work .workcontent3 {
  background: url(../img/guess.gif) no-repeat;
  border: none;
  width: 450px;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 414px) {
  .sectiontwo .worklist .work .workcontent3 {
    width: 315px;
    height: 210px;
  }
}

@media all and (max-width: 320px) {
  .sectiontwo .worklist .work .workcontent3 {
    width: 270px;
    height: 180px;
  }
}

.sectiontwo .worklist .work .workcontent4 {
  background: url(../img/piggame.gif) no-repeat;
  border: none;
  width: 450px;
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 414px) {
  .sectiontwo .worklist .work .workcontent4 {
    width: 315px;
    height: 210px;
  }
}

@media all and (max-width: 320px) {
  .sectiontwo .worklist .work .workcontent4 {
    width: 270px;
    height: 180px;
  }
}

.sectiontwo .worklist .work h3 {
  margin: 10px 0;
  font-weight: 400;
}

.sectiontwo .worklist .more > a {
  color: #121418;
  border: 2px solid #121418;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sectiontwo .worklist .more > a:hover {
  background-color: #E73D19;
}

.sectiontwo .worklist .more {
  margin: 20px 0 80px 0;
}

.sectionthree {
  background-color: #121418;
}

.sectionthree .content {
  width: 90%;
  padding-top: 30px;
}

.sectionthree .content .open {
  position: absolute;
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  padding: 30px 150px;
}

@media all and (max-width: 1024px) {
  .sectionthree .content .open {
    padding-left: 100px;
  }
}

@media all and (max-width: 768px) {
  .sectionthree .content .open {
    padding: 50px;
    width: 180px;
    height: 180px;
  }
}

@media all and (max-width: 414px) {
  .sectionthree .content .open {
    display: none;
  }
}

.sectionthree .content .description {
  padding: 20px;
  position: relative;
  left: 40%;
  width: 55%;
  line-height: 24px;
  letter-spacing: 0.5px;
}

@media all and (max-width: 414px) {
  .sectionthree .content .description {
    width: 95%;
    left: 0%;
  }
}

.sectionthree .content .description h2 {
  color: #FBFFFE;
  font-family: "Space Grotesk", sans-serif;
}

.sectionthree .content .description a {
  color: #FBFFFE;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

.sectionthree .content .description a:hover {
  text-decoration: underline;
}

.sectionthree .content .description hr {
  border: 1px solid #FBFFFE;
}

.sectionthree .content .description h4 {
  color: #FBFFFE;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
}

.sectionthree .content .description img {
  width: 23px;
  padding: 15px 15px 2px 0px;
}

.sectionthree .content .description .foo {
  text-align: right;
  margin: 15px 0;
}

.sectionthree .content .description .foo p {
  font-family: "Inter", sans-serif;
}

.sectionthree .content .description .foo .fooo {
  padding-left: 15px;
  font-weight: 500;
  font-size: 24px;
}

.sectionthree .content .description .foo .fooo:hover {
  color: #E73D19;
}

.sectionthree .content .description p {
  font-weight: 300;
  color: #C8C8C8;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  66% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  66% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */