@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");
h1, .h1 {
  font-size: 40px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 18px;
}

h4, .h4 {
  font-size: 16px;
}

p, .p {
  font-size: 14px;
}

small, .small {
  font-size: 12px;
}

.line_high {
  line-height: 50px;
}

.line_low {
  line-height: 45px;
}

.container {
  margin: 0 auto;
  padding-top: 15vh;
}

body {
  background: #e9e6e4;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  left: 5%;
}

header a {
  text-decoration: none;
}

header .logo {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #121418;
  font-weight: bold;
}

header .aboutall > a {
  position: relative;
  top: 10px;
  margin-left: 30px;
  letter-spacing: -0.3px;
  color: #121418;
}

header .about {
  color: #121418;
}

header .resume {
  border-radius: 50%/50%;
  border: 1px solid #121418;
  color: #FBFFFE;
  padding: 10px 20px;
}

header .resume:hover {
  background-color: #E73D19;
}

.sectionone {
  min-height: 100vh;
  position: relative;
  margin-bottom: 30px;
}

.sectionone .intro {
  font-family: "Space Grotesk", sans-serif;
  width: 90%;
  position: relative;
  left: 5%;
  top: 16vh;
}

.sectionone .intro h1 {
  color: #121418;
  font-weight: bold;
  margin: 0;
}

.sectionone .intro h1 .detail {
  font-weight: 300;
}

.sectionone .intro h1 .detail span {
  color: #E73D19;
}

.sectionone .intro .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.sectionone .intro .btn a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  border: 1px solid #121418;
  cursor: pointer;
  width: 100px;
  margin: 30px 30px 0 0;
  padding: 0 10px;
  text-align: center;
  border-radius: 5px;
  border: none;
}

.sectionone .intro .btn .aboutbtn {
  background-color: #121418;
  color: #FBFFFE;
}

.sectionone .intro .btn .workbtn {
  background-color: #C8C8C8;
  color: #121418;
}

.sectionone .skillcontainer {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 18%;
}

.sectionone .skillcontainer h2 {
  margin: 0;
  padding: 0 50px;
  height: 65px;
  line-height: 65px;
  letter-spacing: 2px;
}

.sectionone .skillcontainer .skill {
  text-transform: uppercase;
  background-color: #121418;
  color: #FBFFFE;
  width: 100%;
  overflow: hidden;
}

.sectionone .skillcontainer .design {
  -webkit-text-stroke: 1px #172121;
  -webkit-text-fill-color: transparent;
}

.sectiontwo {
  margin: 0 auto;
  width: 90%;
  display: block;
  margin-bottom: 50px;
}

.sectiontwo h2 {
  width: 100%;
  color: #121418;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 10px 0;
}

.sectiontwo .list {
  text-align: center;
}

.sectiontwo .list > a {
  text-decoration: none;
  color: #121418;
  padding: 0 10px;
}

.sectiontwo .worklist {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.sectiontwo .worklist .work {
  border: 1px solid #121418;
  border-radius: 5px;
  width: 450px;
  height: 330px;
  margin: 25px 20px;
  display: inline-block;
}

.sectionthree {
  background-color: #121418;
  min-height: 100vh;
}

.sectionthree .content {
  width: 90%;
  padding-top: 50px;
}

.sectionthree .content .description {
  padding: 20px 0px 120px 0px;
  position: relative;
  left: 40%;
  width: 55%;
}

.sectionthree .content .description h2 {
  color: #FBFFFE;
  font-family: "Space Grotesk", sans-serif;
}

.sectionthree .content .description a {
  color: #FBFFFE;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
  text-decoration: none;
}

.sectionthree .content .description hr {
  border: 1px solid #FBFFFE;
}

.sectionthree .content .description h4 {
  color: #FBFFFE;
  font-weight: 300;
}

.sectionthree .content .description img {
  width: 23px;
  padding: 15px 15px 2px 0px;
}

.sectionthree .content .description .foo {
  text-align: right;
  margin: 15px 0;
}

.sectionthree .content .description .foo .fooo {
  padding-left: 20px;
  font-weight: bold;
}

.sectionthree .content .description p {
  font-weight: 300;
  color: #C8C8C8;
}

.go-top {
  position: fixed;
  bottom: 80px;
  right: 50px;
  text-decoration: none;
  color: #FBFFFE;
  background-color: #E73D19;
  font-size: 100px;
  display: none;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */