$primary:#172121;
$secondary:#FBFFFE;
$focus: #E73D19;
$bg: #BAB4AD;

// 字的大小
$fontScale: (
    "h1": 40px,
    "h2": 32px,
    "h3": 18px,
    "h4": 16px,
    "p" : 14px,
    "small": 12px
);

@each $f,$s in $fontScale{
    #{$f},.#{$f}{
        font-size: $s;
    }
};

// 字行距
$lineHeight: (
    "high": 50px,
    "low" : 45px,
);

@each $k, $v in $lineHeight{
    .line_#{$k}{
        line-height: $v;
    }
}

// 字型
@font-face{
    font-family: "Microsoft Yahei","Montserrat" ,"Julius Sans One",sans-serif;
    src: local("./fonts/Montserrat-Regular.ttf"),
         local("./fonts/Montserrat-Regular.ttf"),

}

//間距
//(以8的倍數 8,16,24,....80)
//在html加上class (padding/margin)_(top/left)_1,2,3,4)
@mixin push($num,$dis,$name) {
    @for $i from 1 through $num {
        .#{$name}_#{$dis}_#{$i}{
            #{$name}-#{$dis}: $i * 8px;
        }
    }
}

@include push(10, left, padding);
@include push(15, top, padding);
@include push(10, left, margin);
@include push(15, top, margin);

//margin 左右置中
@mixin mx-auto(){
    margin: 0 auto;
}

//position absolute置中
@mixin absolute_middle() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

//display:flex 置中 (寫在父元素)
@mixin flex_middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

//rwd
$breakpoint_each: (
    "mobile": 768px,
    "pad": 992px,
    "desktop": 1200px
);
@mixin respond($rwd,$style:all){
    @each $break, $val in $breakpoint_each{
        @if $rwd == $break{
            @media #{$style} and (max-width: $val){
                @content;
            }
        }
    }
}

//固定寬1440px
.container{
    // max-width: 1440px;
    margin: 0 auto;
    // overflow-x: hidden;
    padding-top: 15vh;
}
