@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

$title-font: "Space Grotesk", sans-serif;
$subtitle-font: "Inter", sans-serif;
$italic-font: "Playfair Display", serif;
$primary:#121418;
$secondary:#FBFFFE;
$focus: #E73D19;
$minor: #C8C8C8;
$bg: #e9e6e4;


// 字的大小
$fontScale: (
    "h1": 60px,
    "h2": 32px,
    "h3": 18px,
    "h4": 16px,
    "p" : 14px,
    "small": 12px
);

@each $f,$s in $fontScale{
    #{$f},.#{$f}{
        font-size: $s;
    }
};

// 字行距
$lineHeight: (
    "high": 50px,
    "low" : 32px,
);

@each $k, $v in $lineHeight{
    .line_#{$k}{
        line-height: $v;
    }
}

//margin 左右置中
@mixin mx-auto(){
    margin: 0 auto;
}

//position absolute置中
@mixin absolute_middle() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

//display:flex 置中 (寫在父元素)
@mixin flex_middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin header{
        font-family: $title-font;
        width: 75%;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        left: 5%;
        a {
          text-decoration: none;
        }
        .logo {
          font-size: 24px;
          letter-spacing: -0.5px;
          color: $primary;
          font-weight: bold;
        }
        .aboutall > a {
          position: relative;
          top: 10px;
          margin-left: 30px;
          letter-spacing: -0.3px;
          color: $primary;
          font-weight: 500;
        }
        .about {
          color: $primary;
          &:hover {
            text-decoration: underline;
          }
        }
        .resume {
          border-radius: 50%/50%;
          border: 2px solid $primary;
          color: $secondary;
          padding: 10px 20px;
          transition: 0.3s ease;
          &:hover {
            background-color: $focus;
          }
        }
      
}

@mixin footer{
        background-color: $primary;
        // min-height: 100vh;
        .content {
          width: 90%;
          padding-top: 30px;
          .open {
            position: absolute;
            animation-name: rotation;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            padding: 30px 150px;
          }
          .description {
            padding: 20px;
            position: relative;
            left: 40%;
            width: 55%;
            line-height: 24px;
            letter-spacing: 0.5px;
            h2 {
              color: $secondary;
              font-family: $title-font;
            }
            a {
              color: $secondary;
              font-weight: 300;
              font-family: $title-font;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
            hr {
              border: 1px solid $secondary;
            }
            h4 {
              color: $secondary;
              font-weight: 300;
            }
            img {
              width: 23px;
              padding: 15px 15px 2px 0px;
            }
            .foo {
              text-align: right;
              margin: 15px 0;
              .fooo {
                padding-left: 15px;
                font-weight: 500;
                font-size: 24px;
                &:hover {
                  color: $focus;
                }
              }
            }
            p {
              font-weight: 300;
              color: $minor;
            }
          }
        } 
}

@mixin worksize{
    border: none;
    // border-radius: 10px;
    width: 450px;
    height: 300px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

//rwd
$breakpoint_each: (
    "mobile": 768px,
    "pad": 992px,
    "desktop": 1200px
);
@mixin respond($rwd,$style:all){
    @each $break, $val in $breakpoint_each{
        @if $rwd == $break{
            @media #{$style} and (max-width: $val){
                @content;
            }
        }
    }
}

//固定寬1440px
.container{
    // max-width: 1440px;
    margin: 0 auto;
    // overflow-x: hidden;
    padding-top: 15vh;
}
