@import "_base";

@mixin footer{
    background-color: $primary;
    // min-height: 100vh;
    .content {
      width: 90%;
      padding-top: 30px;
      .open {
        position: absolute;
        animation-name: rotation;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        padding: 30px 150px;
        @include respond(mobile) {
          padding: 30px;
        }
        @include respond(mobile-xs) {
          display: none;
        }

      }
      .description {
        padding: 20px;
        position: relative;
        left: 40%;
        width: 55%;
        line-height: 24px;
        letter-spacing: 0.5px;
        @include respond(mobile-xs) {
          width: 95%;
          left: 0%;
        }
        h2 {
          color: $secondary;
          font-family: $title-font;
        }
        a {
          color: $secondary;
          font-weight: 300;
          font-family: $title-font;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        hr {
          border: 1px solid $secondary;
        }
        h4 {
          color: $secondary;
          font-weight: 300;
        }
        img {
          width: 23px;
          padding: 15px 15px 2px 0px;
        }
        .foo {
          text-align: right;
          margin: 15px 0;
          .fooo {
            padding-left: 15px;
            font-weight: 500;
            font-size: 24px;
            &:hover {
              color: $focus;
            }
          }
        }
        p {
          font-weight: 300;
          color: $minor;
        }
      }
    } 
}
