@import "_base";

body {
  background: $bg;
  overflow: hidden;
  @include mx-auto();
}

.sectionone{
 min-height: 100vh;
position: relative;
  header {
    @include mx-auto();
    font-family: $title-font;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    left: 5%;
    a {
      text-decoration: none;
    }
    .logo {
      font-size: 24px;
      letter-spacing: -0.5px;
      color: $primary;
      font-weight: bold;
    }
    .aboutall > a {
      position: relative;
      top: 10px;
      padding: 18px 45px;
      letter-spacing: -0.3px;
    }
    .about {
      color: $primary;
    }
    .resume {
      border-radius: 50%/50%;
      background-color: $primary;
      color: $secondary;
      &:hover{
        background-color: $focus;
      }
    }
  }
  
  .intro {
    font-family: $title-font;
    width: 90%;
    position: relative;
    left: 5%;
    top: 15vh;
    h1 {
      color: $primary;
      font-weight: bold;
      letter-spacing: 0.2px;
      margin: 0;
      .detail {
        letter-spacing: 0px;
        font-weight: 300;
        span {
          color: $focus;
        }
      }
    }
    .btn {
      display: inline-flex;
      a {
        text-decoration: none;
        font-family: $subtitle-font;
        font-weight: 300;
        border: 1px solid $primary;
        cursor: pointer;
        width: 100px;
        margin: 30px 30px 0 0;
        padding: 0 10px;
        text-align: center;
        border-radius: 5px;
        border:none;
      }
      .aboutbtn{
        background-color: $focus;
        color: $secondary;
      }
      .workbtn{
        background-color: $minor;
        color: $primary;
      }
    }
  }
  
  .skillcontainer {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    // position: absolute;
    // bottom: 0;
    h2 {
      margin: 0;
      padding: 0 50px;
      height: 65px;
      line-height: 65px;
      letter-spacing: 2px;
    }
    .skill {
      text-transform: uppercase;
      background-color: $primary;
      color: $secondary;
      width: 100%;
      overflow: hidden;
    }
    .design {
      -webkit-text-stroke: 1px #172121;
      -webkit-text-fill-color: transparent;
    }
  }
}

.sectiontwo{
  @include mx-auto();
 .work{
    border:5px solid red;
    width: 100%;
  }
}


