@import "_base";

body {
  background: $bg;
  @include mx-auto();
}

.sectionone {
  min-height: 100vh;
  position: relative;
  margin-bottom: 30px;
  header {
    @include mx-auto();
    font-family: $title-font;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    left: 5%;
    a{
      text-decoration: none;
    }
    .logo {
      font-size: 24px;
      letter-spacing: -0.5px;
      color: $primary;
      font-weight: bold;
    }
    .aboutall > a {
      position: relative;
      top: 10px;
      margin-left: 30px;
      letter-spacing: -0.3px;
      color: $primary;
    }
    .about {
      color: $primary;
    }
    .resume {
      border-radius: 50%/50%;
      border: 1px solid $primary;
      color: $secondary;
      padding: 10px 20px;
      &:hover {
        background-color: $focus;
      }
    }
  }

  .intro {
    font-family: $title-font;
    width: 90%;
    position: relative;
    left: 5%;
    top: 15vh;
    h1 {
      color: $primary;
      font-weight: bold;
      margin: 0;
      .detail {
        font-weight: 300;
        span {
          color: $focus;
        }
      }
    }
    .btn {
      display: inline-flex;
      a {
        text-decoration: none;
        font-family: $subtitle-font;
        border: 1px solid $primary;
        cursor: pointer;
        width: 100px;
        margin: 30px 30px 0 0;
        padding: 0 10px;
        text-align: center;
        border-radius: 5px;
        border: none;
      }
      .aboutbtn {
        background-color: $primary;
        color: $secondary;
      }
      .workbtn {
        background-color: $minor;
        color: $primary;
      }
    }
    .photo > img {
      width: 300px;
      position: absolute;
      right: 30%;
      bottom: -30%;
      mix-blend-mode: color-burn;
    }
  }

  .skillcontainer {
    text-transform: uppercase;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    z-index: 999;
    // margin-top: 18%;
    h2 {
      margin: 0;
      padding: 0 50px;
      height: 65px;
      line-height: 65px;
      letter-spacing: 2px;
    }
    .skill {
      text-transform: uppercase;
      background-color: $primary;
      color: $secondary;

      overflow: hidden;
    }
    .design {
      -webkit-text-stroke: 1px #172121;
      -webkit-text-fill-color: transparent;
    }
  }
}

.sectiontwo {
  @include mx-auto();
  // min-height: 100vh;
  width: 90%;
  display: block;

  h2 {
    width: 100%;
    color: $primary;
    text-align: center;
    font-family: $title-font;
    margin: 0;
    padding: 10px 0;
  }
  .list {
    text-align: center;
  }
  .list > a {
    text-decoration: none;
    color: $primary;
    padding: 0 10px;
  }
  .worklist {
    @include mx-auto();
    width: 90%;
    text-align: center;
    .work {
      display: inline-block;
      margin: 25px 20px;
      overflow: hidden;
      letter-spacing: 1px;
      a.link {
        display: block;
        height: 100%;
      }
      .content-details {
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        .details{
          position: relative;
          left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
          h3, h4{
            color:$secondary;
            font-weight: 300;
            padding: 0 50px;
          }
        }
        span{
          // background-color: rgba(200, 200, 200, 0.6);
          color:$minor;
          border: 1px solid $minor;
          border-radius: 2px;
          font-size: 14px;
          padding: 2px 10px;
          font-family: $subtitle-font;
          letter-spacing: -0.5px;
          margin: 5px;
          line-height: 30px;
        }
        &:hover {
          top: 50%;
          left: 50%;
          opacity: 1;
        }
      }
      .workcontent1 {
        background: url(../img/kissa.png) no-repeat;
        @include worksize();
      }

      .workcontent2 {
        background: url(../img/spaced.png) no-repeat;
        @include worksize();
      }

      .workcontent3 {
        background: url(../img/guess.gif) no-repeat;
        @include worksize();
      }

      .workcontent4 {
        background: url(../img/piggame.gif) no-repeat;
        @include worksize();
      }

      h3 {
        margin: 20px 0;
        font-weight: 400;
      }
    }
    .more > a {
      color: $secondary;
      background-color: $primary;
      padding: 15px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-family: $subtitle-font;
      width: 100%;
      height: 100%;
    }
    .more {
      margin: 50px 0 80px 0;
    }
  }
}

.sectionthree {
  background-color: $primary;
  min-height: 100vh;
  .content {
    width: 90%;
    padding-top: 100px;
    .description {
      padding: 20px 0px 120px 0px;
      position: relative;
      left: 40%;
      width: 55%;
      h2 {
        color: $secondary;
        font-family: $title-font;
      }
      a {
        color: $secondary;
        font-weight: 300;
        font-family: $title-font;
        text-decoration: none;
      }
      hr {
        border: 1px solid $secondary;
      }
      h4 {
        color: $secondary;
        font-weight: 300;
      }
      img {
        width: 23px;
        padding: 15px 15px 2px 0px;
      }
      .foo {
        text-align: right;
        margin: 15px 0;
        .fooo {
          padding-left: 20px;
          font-weight: bold;
        }
      }
      p {
        font-weight: 300;
        color: $minor;
      }
    }
  }
}
